@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: "Roboto", sans-serif;
}

span {
    color: #FEBC30;
}

h1 {
    font-family: "Domine", serif;
}

h4 {
    font-family: "Domine", serif;
}

p {
    line-height: 1.7;
    font-size: 18px;
    color: grey;
}

a {
    padding: 15px 5px 15px 20px;
    border-radius: 50px;
    position: relative;
    font-weight: bold;
}

a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 50px;
    z-index: -1;
    transition: all 1s ease;
}

i {
    color: black;
    margin-left: 10px;
    background-color: #FEBC30;
    border-radius: 50%;
    padding: 10px;
}




/* ======================== Hero Section CSS ========================= */
.hero-section {
    text-align: center;
    background: url(../img/page-header-bg.jpg) center;
    background-size:cover;
    height: 90vh;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    padding-top: 300px;
    background-repeat: no-repeat;
}

@media (max-width:767px) {
    .hero-section {
        text-align: center;
        background-position: center;
        padding: 125px 0;
    }
}

@media (max-width:474px) {
    .heading-section {
        padding: 25px 0 0 0;
    }
}

.navbar {
    position: absolute !important;
    top: 30px;
    left: 20px;
    z-index: 99;
    width: 97%;
    font-style: bold;
    border-radius: 50px;
}

@media (max-width:474px) {
    .navbar {
        width: 95%;
        left: 10px;
    }
}

@media (max-width:767px) {
    .navbar {
        left: 10px;
    }
}

@media (max-width:375px) {
    .navbar {
        padding: 20px;
        border-radius: 50px;
        width: 98%;
        left: 3px;
    }
}

@media (max-width:767px) {
    .navbar .navbar-toggler-icon:focus {
        box-shadow: none;
    }
}

.nav-link:hover {
    color: #FEBC30 !important;
    transition: all 0.3s ease !important;
}

.dropdown-menu {
    background-color: #FEBC30 !important;
    transition: all 0.3s ease !important;
}

.dropdown-menu a:hover {
    color: white;
    background-color: #FFFFFF1A;
    transition: all 0.3s ease !important;
}

.navbar .button {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    margin-left: 50px;
    padding: 5px 5px 5px 10px;
}

@media (max-width:991px) {
    .navbar .button {
        padding: 15px 5px 15px 20px;
    }
}

.navbar .button:hover {
    color: black;
    transition: all .5s linear;
}

.navbar .button:hover i {
    background-color: white;
    transition: all .8s ease;
}

.navbar .button:hover::before {
    transition: all 0.5s ease;
    background-color: #FEBC30;
    width: 100%;
}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #00000080;
    width: 100%;
    height: 100%;
}

.hero-section .heading-section {
    z-index: 1;
}

.hero-section h1 {
    margin: 0px auto;
    font-size: 70px !important;
    width: 55%;
}

.hero-section p {
    width: 43%;
    margin: 0 auto;
    color: white;
}




/* ======================== Event Section CSS ======================== */
.event-section {
    padding: 100px 15px;
    position: relative;
}

.event-section img {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.event-section h6 {
    color: #888080;
}

.event-section .posts {
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 30px;
}

.event-section .posts .pic::after {
    content: "";
    position: absolute;
    width: 300%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .2);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

.event-section .posts:hover .pic::after {
    height: 250%;
    transition: all 500ms linear;
    background-color: transparent;
}

.event-section::before {
    content: '';
    position: absolute;
    top: 75px;
    right: 0;
    background-image: url(../img/upcoming-events-bg.png);
    background-size: cover;
    width: 300px;
    height: 590px;
    z-index: -1;
}

.event-section .posts img {
    transition: all 0.5s ease;
}

.event-section .posts:hover img {
    transform: scale(1.1);
}

.event-section .posts .content {
    background-color: #F7F4ED;
    padding: 30px 20px;
}

.event-section .posts h4 {
    color: black;
    margin-top: 20px;
}

.event-section .buttons a{
    text-decoration: none;
    color: white;
    background-color: #FEBC30;
    border: 2px solid #febc30;
    border-radius: 10px;
    padding: 8px 12px;
    transition: all 0.5s ease;
}

.event-section .buttons a i{
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: transparent;
}

.event-section .buttons .active{
    color: #FEBC30;
    background-color: transparent;
}

.event-section .buttons a:hover{
    color: #FEBC30;
    background-color: transparent;
}

.event-section .buttons a:hover i{
    color: #FEBC30;
}


/* ======================= Footer Section CSS ======================== */
.footer-section {
    background-color: #010101;
    padding: 90px 15px 10px;
}

.footer-section img {
    margin-bottom: 30px;
}

@media (max-width:767px){
    .footer-section .logo{
        text-align: center;
        padding: 60px;
    }
}



@media (max-width:767px){
    .footer-section .logo .social{
        margin: 0 auto;
    }
}

.footer-section .logo i {
    background-color: #1C1C1C;
    color: white;
    margin-top: 15px;
    transition: all 0.5s ease;
}

.footer-section .logo i:hover {
    background-color: #FEBC30;
    transition: all 0.5s ease;
}

.footer-section .logo i,
.contact i {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 0;

}

.footer-section .logo p {
    color: white;
    width: 77%;
}

@media (max-width:767px){
    .footer-section .logo p{
        width: 100%;
    }
}

.footer-section li {
    list-style: none;
    background-color: none;
    padding: 0;
}

.footer-section a {
    padding: 0;
    text-decoration: none;
    color: white;
    transition: .25s;
}

.footer-section .menu i,
.links i {
    background-color: transparent;
    color: grey;
    transition: .25s;
    margin-left: 0;
    padding: 10px 10px 10px 0;
}

@media (max-width:767px){
    .footer-section .menu .links{
        padding-left: 10px;
    }
}

.footer-section .menu a:hover,
.links a:hover,
.menu a:hover i,
.links a:hover i {
    color: #FEBC30 !important;
    padding-left: 10px;
    transition: .25s;
}

.footer-section .contact {
    text-align: left;
}

.footer-section .contact span {
    width: 60%;
    margin-left: 10px;
}

.footer-section .contact a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.footer-section .contact a:hover {
    color: #FEBC30;
    transition: all 0.5s ease;
}

.footer-section .contact i {
    color: white;
}

.footer-section .subscribe {
    background-color: #1C1C1C;
    margin: 30px 0;
    padding: 10px 30px;
    border-radius: 50px;
}

@media (max-width:768px) {
    .footer-section .subscribe {
        text-align: center;
        border-radius: 20px;
        padding: 20px;
    }
}

.footer-section .subscribe input {
    width: 475px;
    background-color: #141414;
    padding: 10px 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
}

.footer-section .subscribe input:focus {
    outline: 1px solid red;
}

@media (max-width:768px) {
    .footer-section .subscribe input {
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

@media (max-width:768px) {
    .footer-section .subscribe input:focus {
        outline: none;
    }
}

.footer-section .subscribe button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #FEBC30;
    color: white;
    border: none;
    padding: 10px 40px;
}

@media (max-width:768px) {
    .footer-section .subscribe button {
        border-radius: 0;
        border: none;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.footer-section .subscribe button:hover {
    background-color: white;
    color: #FEBC30;
    transition: all 0.5s ease;
}

.footer-section .copyright p {
    color: white;
}

.footer-section .copyright i {
    background-color: transparent;
    color: white;
}